<md-card class="content-container">
  <md-card-header>
    <md-icon style="padding-right:24px;">videogame_asset</md-icon>
    <h1 class="mat-headline">Hobby</h1>
  </md-card-header>
  <hr>
  <h2 class="mat-h2">What is my hobby?</h2>
  <p>Except coding I like to play sports and music. I love basketball. And I was playing bass in high school. And also like
    photography.</p>

  <h2 class="mat-h2">Favourite genre of music</h2>
  <p>Actually, I like almost everything. I focus on the beautiful melody. But if I really choose, I choose Classic 90.</p>

  <h2 class="mat-h2">Favorite basketball player</h2>
  <p>My idol of all time. Best point guard in my mind. He's Jason Kidd.</p>

  <h2 class="mat-h2">What about game? </h2>
  <p>Oh, I can't lie to you. I love to play games too. I prefer multiplayer games with teamwork gameplay, such as PUBG, DOTA2, Monster Hunter, etc.</p>

</md-card>
