.container {
  width: 100%;
  min-height: 100vh;
  overflow-y:auto;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.content {
  background-color:#F5F5F5;
  width:calc(100% - 200px);
  height:calc(100% - 99px);
  overflow:auto;
  text-align:left;
  float:right;
  z-index:0;
}

.content-footer {
  background-color:#3e4451;
  width:calc(100% - 200px);
  height:35px;
  overflow:auto;
  text-align:center;
  float:right;
  position:abosulute;
  bottom:0;
  z-index:0;
}

.header-toolbar {
  background-color:#0f1626;
  color: white;
  z-index: 4;
  border-radius: 0;
}

.side-menu {
  color:white;
    height:calc(100% - 64px);
    width:200px;
    /* overflow:auto; */
    overflow:hidden;
    /* overflow-y:auto; */
  }

.card-side {
  padding:0px;
  z-index: 2;
  border-radius: 0;
  height: 100%;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:#FF533D;
}

.list-link{
  padding-left:0px;
}

.selecter-selected{
  background-color: #3949ab !important;
}

.selecter {
  color:white;
  text-shadow: 2px 2px 5px grey;
}
