<div style="height:100vh; width:100%;">
  <div>
    <md-card class="header-toolbar">
      <h4>My Profile</h4>
    </md-card>
  </div>

  <div [@resize-side-content]='state' class="content">
    <div style="padding:10px;">
      <section class="mat-typography">
        <h1>This header will be styled</h1>
        <p>it's ok on padding bitch!</p>
      </section>

    </div>
  </div>
  <div [@resize-side-menu]='state' class="side-menu">
    <md-card class="card-side">
      <md-nav-list class="list-link">
        <md-list-item *ngFor="let menu of sideMenu" class="selecter" [ngClass]="{'selecter-selected': selectedMenu == menu.id}">
          <md-icon md-list-icon>{{menu.icon}}</md-icon>
          <a mdLine href="{{menu.link}}"><p>{{menu.name}}</p></a>
        </md-list-item>
      </md-nav-list>
    </md-card>
  </div>
</div>

<!-- {{width}} {{height}} -->
